body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

#nickContainer{
    display: grid;
    place-items: center;
    height: 100%;
}

#nickContainer form {
    display: grid;
    gap:5px;
}

#nickContainer input:last-child {
    place-self: center;
}

#chatContainer{
    display: grid;
    height: 100%;
    grid-template-columns: 300px 1fr;
}
#chats{
    border-right: black 1px solid;
    padding: 10px;
}
#messageContainer{
    display: grid;
    grid-template-rows: 1fr 2em;
}
#messages{
    padding: 20px;
    gap: 5px;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    height: calc(100vh - 2em - 40px);
}
.bubble {
	border-radius: 1em;
	padding: 10px;
	margin: 0.0625em;
	max-width: 50%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "author date"
        "text text";
    gap: 5px;
}

.bubble > .author {
    grid-area: author;
    font-weight: bold;
}

.bubble > .date {
    grid-area: date;
    justify-self: end;
}

.bubble > .text {
    grid-area: text;
}

.bubble.sender {
	align-self: flex-start;
	background-color: cornflowerblue;
	color: #fff;
    border-bottom-left-radius: 0.1em;

}
.bubble.recipient {
	align-self: flex-end;
	background-color: #efefef;
    border-bottom-right-radius: 0.1em;
}
.bubble.system {
    align-self: center;
    background-color: gray;
    color: white;
    grid-template-areas:
    "text text"
    "text text";
}
.bubble.bubble.system > .author, .bubble.system > .date {
    display: none;
}

#chatForm{
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0;
}